/*Style Global du template (format telephone)*/
body,
html {
  margin: 0;
  padding: 0;
  font-size: 0, 625rem;
  background: rgb(97, 158, 182);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  /* pour 100vh sur chrome mobile (cf code JS dans index.html) */
  min-height: calc(var(--vh, 1vh) * 100);
  grid-template-areas: 
                  "header"
                  "section"
                  "footer";
}

/********************Style du header********************/

header {
  background-color: rgb(0, 72, 93);
  height: 5rem;
  display: grid;
  grid-template-columns: 3rem auto 3rem;
  grid-gap: 2rem;
  grid-area: header;
  grid-template-areas: "header header header";
}

.main-title {
  text-align: center;
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
}

.logo-login {
  width: 2rem;
  margin-top: 1.5rem;
}

/*******************Style du footer*******************/

footer {
  background-color: rgb(0, 72, 93);
  color: rgb(255, 255, 255);
  height: 3rem;
  text-align: center;
  font-size: 0.7rem;
  padding-top: 1rem;
  grid-area: footer;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

/*************Style du contenu de la page*************/

.main-section{
  grid-area: section;
}

.main-img {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.titre-sec {
  margin: 0;
  padding-bottom: 1rem;
}

.main-article {
  text-align: center;
  margin: 0;
  color: rgb(0, 53, 63);
}

.citation {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: italic;
}

/*RESPONSIVE (PC et Tablette)*/

@media screen and (min-width: 780px) {
  header {
    height: 8rem;
    padding-right: 4rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .logo-login {
    width: 3rem;
    margin-top: 2.5rem;
  }

  .main-article {
    font-size: 1.5rem;
  }

  .citation {
    font-size: 3rem;
  }

  footer {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}
