/*Partie récupération des données dans la base de données*/

#section-mesure {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-size: 120%;
  background-repeat: no-repeat;
}

.contenu-mesure {
  width: 90%;
  margin: 0 auto;
  padding: 1%;
  background: rgba(255, 255, 255, 0.726);
  border-radius: 1rem;
}

.desc-mesure {
  color: rgb(0, 53, 63);
  font-weight: bold;
  margin: 0;
}

.mesure {
  color: rgb(141, 24, 24);
}

/*Style de la partie conseille généraux*/

.info-global{
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1%;
  background: rgba(255, 255, 255, 0.726);
  border-radius: 1rem;
}

.icone-info{
  width: 20%;
  margin: 1rem;
}

.legende-info{
  color: rgb(0, 53, 63);
  font-weight: bold;
}

/*Interprétaion de l'UV en fonction de la peau*/

.interp-uv{
  padding: 5px;
}

#titre-peau {
  padding: 0;
  margin-top: 1rem;
}

.img-peau{
  width: 1.5rem;
  margin: 0;
  padding: 0;
}

.mess-typePeau {
  color: black;
  font-weight: bold;
}

.mess-perso {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1%;
  background: rgba(255, 255, 255, 0.726);
  border-radius: 1rem;
}

/* Style des boutton pour choisir le type de peau */

.boutonPeau {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom,
      rgb(0, 72, 93) 5%,
      rgb(0, 99, 129) 100%);
  background-color: #007dc1;
  border-radius: 10px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.625rem;
  font-weight: bold;
  padding: 8px 15px;
  margin: 3px;
  text-decoration: none;
  text-shadow: 2px 2px 1px #154682;
}

.boutonPeau:hover {
  background: linear-gradient(to bottom,
      rgb(0, 99, 129) 5%,
      rgb(0, 72, 93) 100%);
  background-color: #0061a7;
}

.boutonPeau:active {
  position: relative;
  top: 1px;
}


/*Responsive PC TABLETTE*/
@media screen and (min-width: 780px) {
  .boutonPeau {
    font-size: 1rem;
    padding: 11px 24px;
    margin: 0.8rem;
  }

  .img-peau{
    width: 3rem;
  }
}